@use "./variables.scss" as *;

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  body {
    background: $primary-color;
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
    position: relative;
    background-image: linear-gradient(to right, #000f1d, #00182e, #000f1d);
    overflow-x: clip;
    display: flow-root;
    color: $secondary-color;
  }
}

.about-image {
  height: 180px;
}

h1 {
  color: white;
  padding: 0.1rem 1rem;
  font-size: 2rem;
  font-family: $font-stack;
}
.container {
  padding: 0 1.5rem; /* Default padding for small screens */
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.bg-white {
  background-color: rgba(229, 231, 235, 0.7);
  opacity: 1;
}
opacity-top {
  opacity: 1;
}
.w-full {
  width: 100% !important;
  padding: 0 !important;
}
.full-absolute {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}
.higher-order {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.nav {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  &__logo {
    width: 180px;
  }
  &__items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 0%;

    &__item {
      position: relative;
      font-weight: 500;
      font-size: 15px;
      transition: all 0.2s;
      padding: 4px 20px;

      a:hover {
        color: $hover-font;
      }
    }
    .animation {
      position: absolute;
      height: 5px;
      /* height: 5px; */
      /* top: 0; */
      bottom: -1rem;
      z-index: 0;
      background: #042c51;
      border-radius: 8px;
      border-left: 3px solid yellow;
      border-right: 3px solid yellow;
      transition: all 0.5s ease 0s;
      margin-left: 1rem;
    }
    .start-home,
    li:nth-child(1):hover ~ .animation {
      width: 55px;
      left: 18%;
    }

    li:nth-child(2):hover ~ .animation {
      width: 70px;
      left: 28%;
    }

    li:nth-child(3):hover ~ .animation {
      width: 100px;
      left: 40%;
    }
    li:nth-child(4):hover ~ .animation {
      width: 105px;
      left: 55%;
    }
    li:nth-child(5):hover ~ .animation {
      width: 38px;
      left: 71.5%;
    }
    li:nth-child(6):hover ~ .animation {
      width: 65px;
      left: 79%;
    }
    li:nth-child(7):hover ~ .animation {
      width: 60px;
      left: 89%;
    }
  }
}

//slider styling
.slider-container-custom {
  overflow: hidden;
  display: flex;
  height: 100vh;
  position: relative;
  &__main {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  article.activeSlide {
    opacity: 1 !important ;
    transform: translateX(0);
    transition: all 0.8s ease;

    article.lastSlide {
      transform: translateX(-100%);
    }
    article.nextSlide {
      transform: translateX(100%);
    }
  }
  .right-arrow {
    display: flex;
    border: 1px solid #042c51;
    cursor: pointer;
    right: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    width: 38px;
    height: 38px;
    background-color: #0e0e1a;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    animation-duration: 500ms;
    &:hover {
      border-color: #f1bf3f;
    }
    .-rotate-45 {
      rotate: -45deg;
    }
  }
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.segment-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
  cursor: pointer;
}
.p {
  padding-top: 0;
  font-size: small;
}
.rotate-45 {
  rotate: 45deg;
}
img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.cover-image {
  height: 220px;
}
.sub-header {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: #042c51;
  &:hover {
    text-decoration: underline;
    color: #f1bf3f;
  }
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big-icon {
  font-size: 50px;
}
.strength-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 640px) {
  .container {
    padding: 0 4.5rem; /* Medium screen padding */
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 4.5rem; /* Large screen padding */
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2rem; /* Extra large screen padding */
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 8rem; /* 2 Extra large screen padding */
  }
}

@media (min-width: 1536px) {
  .container {
    padding: 0 10rem; /* 3 Extra large screen padding */
  }
}
